section#countryId {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
}

img {
    width: 100%;
    height: 160px;
}

p {
    text-align: center;
}
article.countryItems {
    flex: 20%;
    margin-bottom: 100px;
}